<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/money</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="pool_size">5</property>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/moyang/hibernate/StockDaily.hbm.xml" />
        <mapping resource="com/moyang/hibernate/StockInfo.hbm.xml" />
    </session-factory>
</hibernate-configuration>